---
import { z } from "zod";
import { createDatabase } from "~/server/db";
import Layout from "~/layouts/Layout.astro";
import { PackageIdentifier, findPackageByIdentifier } from "~/lib/package";

const params = z
  .object({
    identifier: PackageIdentifier,
  })
  .parse(Astro.params);
const db = createDatabase(Astro.locals.runtime.env.DB);
const cask = await findPackageByIdentifier(db, params.identifier);

if (!cask) {
  return await Astro.redirect("/404");
} else if (!("version" in params.identifier)) {
  Astro.response.status = 301;
  Astro.response.headers.set("Location", `/package/${cask.version}-${cask.pname}`);
}
---

<Layout title={`${cask.pname} | Nix Casks`}>
  <h1 class="text-4xl font-semibold">{cask.pname} - {cask.version}</h1>
  <pre>{JSON.stringify(cask, null, 2)}</pre>
</Layout>
