---
import Layout from "~/layouts/Layout.astro";
import { drizzle } from "drizzle-orm/d1";
import { caskPackages } from "~/schema";
import type { CaskPackage } from "~/lib/homebrew";

const records = await drizzle(Astro.locals.runtime.env.DB).select().from(caskPackages).all();
const casks = records.map(({ pname: name, cask }) => {
  const {
    meta: { description, homepage },
  } = cask as CaskPackage;
  return { name, description, homepage };
});
---

<Layout title="Nix Casks">
  <h1 class="text-4xl font-semibold my-4">Nix Casks</h1>
  <p class="my-4">
    {casks.length} casks are available in <code>nix-casks</code>.
  </p>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Homepage</th>
      </tr>
    </thead>
    <tbody>
      {
        casks.map(({ name, description, homepage }) => (
          <tr>
            <td>
              <a href={`/cask/${name}`} class="curspor-pointer hover:underline">
                {name}
              </a>
            </td>
            <td>{description}</td>
            <td>
              <a href={homepage} target="_blank" target="_blank" rel="noopener noreferrer">
                {name}'s Homepage
              </a>
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</Layout>
