---
import Layout from "~/layouts/Layout.astro";
import { createDatabase, packages } from "~/server/db";
import type { CaskPackage } from "~/lib/homebrew";

const db = createDatabase(Astro.locals.runtime.env.DB);
const records = await db.select({ nix: packages.nix }).from(packages).all();
const casks = records.map(({ nix }) => nix as CaskPackage);
---

<Layout title="Nix Casks">
  <h1 class="text-4xl font-semibold my-4">Nix Casks</h1>
  <p class="my-4">
    {casks.length} casks are available in <code>nix-casks</code>.
  </p>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Homepage</th>
      </tr>
    </thead>
    <tbody>
      {
        casks.map(({ pname, meta: { description, homepage } }) => (
          <tr>
            <td>
              <a href={`/package/${pname}`} class="curspor-pointer hover:underline">
                {pname}
              </a>
            </td>
            <td>{description}</td>
            <td>
              <a href={homepage} target="_blank" target="_blank" rel="noopener noreferrer">
                {pname}'s Homepage
              </a>
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</Layout>
