---
import { z } from "astro/zod";
import Layout from "../layouts/Layout.astro";
import { Cask } from "../lib/homebrew";

async function fetchCasks() {
  const response = await fetch("https://formulae.brew.sh/api/cask.json");
  if (!response.ok) {
    throw new Error("Failed to fetch casks");
  }
  const json = await response.json();
  const casks = z.array(Cask).parse(json);
  return casks;
}

const casks = await fetchCasks();
---

<Layout title="Nix Casks">
  <h1 class="text-4xl font-semibold my-4">Nix Casks</h1>
  <p class="my-4">
    {casks.length} casks are available in <code>nix-casks</code>.
  </p>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Homepage</th>
      </tr>
    </thead>
    <tbody>
      {
        casks.map(({ token: name, desc: description, homepage, name: [displayName] }) => (
          <tr>
            <td>
              <a href={`/cask/${name}`} class="curspor-pointer hover:underline">
                {name}
              </a>
            </td>
            <td>{description}</td>
            <td>
              <a href={homepage} target="_blank" target="_blank" rel="noopener noreferrer">
                {displayName}'s Homepage
              </a>
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</Layout>
