---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";

interface Props {
	title: string;
	description?: string | null;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<title>{title}</title>
		{description && <meta name="description" content={description} />}
		{/* Favicon */}
		{/* Twitter */}
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content={title} />
		{description && <meta name="twitter:description" content={description} />}
		<meta name="twitter:creator" content="@AtahanYorganci" />
		{/* Open Graph */}
		<meta name="og:title" content={title} />
		{description && <meta name="og:description" content={description} />}
		<meta name="og:type" content="website" />
		<meta name="og:url" content="https://nix-casks.yorganci.dev" />
		{/* ... */}
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body class="min-h-screen flex flex-col font-['Space_Grotesk'] bg-neon-dark text-neon-white">
		<Navigation />
		<main class="flex-grow pt-16">
			<slot />
		</main>
		<Footer />
	</body>
</html>
